/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

* {
	box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color: #000000;
	text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

li {
	cursor: pointer;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

button.btnHeaderModif {
	border: none;
	color: #fff;
	background: #000000;
	font-family: 'Work Sans';
	width: 100%;
	height: 50px;
	display: none;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding: 0;
	border-radius: 0 0 10px 10px;
}

button.btnHeaderModif i {
	color: #fff;
	margin-right: 3px;
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

/* index.html */

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}


div.entete {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
}

div.entete h2 {
	text-align: center;
}

button.modal-btn {
	border: none;
	position: absolute;
	right: 550px;
	display: none;
	background: none;
	cursor: pointer;
	font-family: 'Work Sans';
}

button.modal-btn i {
	background: none;
	border: none;
	cursor: pointer;
	margin-right: 3px;
}

div.modal-container {
	visibility: hidden;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	width: 100vw;
	height: 100vh;
	transition: visibility .4s;
}

div.modal-container.active {
	visibility: visible;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.overlay {
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000000d3;
	transition: opacity 0.4s 0.2s ease-out;
}

div.modal-container.active .overlay {
	opacity: 1;
	transition: opacity 0.4s ease-out;
}

div.modal {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 688px;
	width: 630px;
	opacity: 0;
	padding: 30px 100px;
	border-radius: 5px;
	background: #ffffff;
	scale: 0.2;
	transition: opacity .4s ease-out, scale 1s cubic-bezier(.5, -1, 0, 1);
}

div.modal-container.active .modal {
	opacity: 1;
	scale: 1;
	transition: opacity .4s .2s ease-out, scale 1s cubic-bezier(.5, -1, 0, 1);
}

button.close-modal {
	padding: 8px;
	border: none;
	font-size: 20px;
	position: absolute;
	top: 7px;
	right: 7px;
	background: none;
}

button.close-modal i {
	cursor: pointer;
}

button.btnArrowModal {
	padding: 8px;
	border: none;
	font-size: 20px;
	position: absolute;
	top: 7px;
	left: 7px;
	background: none;
	display: none;
	cursor: pointer;
}

div.contenumodal {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100%;
}

div.contenumodal h3 {
	font-size: 26px;
}

div.galleryModal {
	display: grid;
	grid-template-columns: 17% 17% 17% 17% 17%;
	gap: 30px 10px;
	width: 100%;
	max-height: 450px;
	justify-content: center;
	overflow-y: hidden;
}

div.galleryModal img {
	width: 100%;
}

div.galleryModal p {
	position: fixed;
	margin: -95px 53px;
	cursor: pointer;
	transition: .2s;
	font-size: 18px;
}

div.galleryModal p i:hover {
	color: #1D6154;
}

div.contenumodal hr {
	background: #000;
	width: 100%;
	height: 1px;
	margin: 0;
	padding: 0;
}

div.contenumodal .btnModal {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	padding: 10px 60px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
	border: none;
	margin-bottom: 15px;
}

div.contenumodal .btnValider {
	background: #A7A7A7;
}


div.delete {
	display: flex;
}

div.add {
	display: none;
}

div.formModal {
	width: 100%;
	height: 60%;
}

div.formModal form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: 100%;
}

form div.formImg {
	width: 100%;
	background-color: #E8F1F6;
	display: flex;
	flex-direction: column;
	height: 160px;
	justify-content: space-evenly;
	align-items: center;
}

form div.formImg img {
	height: 100%;
}

input[type="file" i] {
	display: none;

}

.fa-image:before {
	font-size: 70px;
	color: #B9C5CC;
}

div.formImg label {
	background-color: #CBD6DC;
	color: #306685;
	padding: 10px 40px;
	border-radius: 50px;
	text-align: center;
	cursor: pointer;
	font-weight: 900;
}

div.formImg p {
	color: #444444;
	font-size: 10px;
}

form div.formTitle {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: start;
}

form div.formCate {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: start;
}

div.formModal form input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	width: 100%;
	margin-top: 5px;
	font-family: "Work Sans";
}

div.formModal form select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	width: 100%;
	margin-top: 5px;
	font-family: "Work Sans";
	cursor: pointer;
}

div.formModal form select option {
	font-family: "Work Sans";
	height: 20px;
}

div.filter {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 30px;
}

.btnFilter {
	background-color: #fff;
	border: solid 1px #1D6154;
	color: #1D6154;
	padding: 6px 15px;
	border-radius: 60px;
	margin: 0 5px;
	cursor: pointer;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	height: 37px;
	transition: .3s;
}

.btnFilter:hover {
	background-color: #1d61542c;
}

.btnFilterActive {
	background-color: #1D6154;
	color: #fff;
}

.btnFilterActive:hover {
	background-color: #1D6154;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

.gallery figcaption {
	font-size: 13px;
	margin-top: 4px;
	color: #3D3D3D;
}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

/* footer */

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}